span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #f00; /* cor do fundo */
    width: 100%; /* largura total */
    height: 100%; /* altura total */
    transform: scaleX(0); /* começa invisível */
    transform-origin: left; /* origem do efeito à esquerda */
    transition: transform 0.7s ease; /* transição suave */
    z-index: -1; /* coloca atrás do texto */
  }
  